---
---

@import "minima";
@import "vars";

:root {
  --page-bg-color: #fdfdfd;
}
@media (prefers-color-scheme: dark) {
  :root {
    --page-bg-color: #333333;
  }
}

.home {
  background-color: var(--page-bg-color);
}
body {
  background-color: var(--page-bg-color);
}

